.border{
    border: 1px solid red;
    padding-left: 10px;
}

header{
    border: 1px solid red;
}
section{
    border: 1px solid red;
    position: relative;
    width:800px;
    padding-left: 10px;
    box-sizing: border-box;
}

article{
    border: 1px solid red;
    width:100px;
    box-sizing:border-box;
}
main{
    border: 1px solid red;
    padding-left: 10px;
    width: 800px;
    position: relative;
}

aside{
    border: 1px solid red;
    padding-left: 10px;
    width: 380px;
    position: relative;
    left: 820px;
    bottom: 123px;
}
h1{
  background-color: yellow;
  padding: 20px;
  width: 50%;
  position: relative;
  align-items: center;
}

