.border{
    border: 1px solid red;
}

header{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    width: 100%;
}
.span-top-title{
    width:650px;
    position: relative;
    left: px;
}
.title-top{
    background-color:yellow;
    position: relative;
    top: auto;
    left: auto;
    border: 1px solid red;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid red;
}

.nav-top-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid red;
}
.nav-top-li{
    margin: 10px;
    list-style-type: none;
}

.search{
    border: 1px solid red;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.link-whatsup{
    position: relative;
    top: 40px;
    border: 1px solid red;
    height: 50%;
    width: 30%;

}

section{
    border: 1px solid red;
    position: relative;
    width:800px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article{
    border: 1px solid red;
    width:25%;
    margin: 50px;
}
main{
    border: 1px solid red;
    padding-left: 10px;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

aside{
    border: 1px solid red;
    padding-left: 10px;
    width: 20%;
    position: relative;
    left: 80%;
    top: 10px;

}
h1{
  background-color: orange;
  padding: 20px;
  width: 50%;
  position: relative;
  text-align: center;
}

