.border{
    border: 1px solid red;
    padding-left: 10px;
}
main{
    border: 1px solid red;
    padding-left: 10px;
    width: 800px;
    position: relative;
}

aside{
    border: 1px solid red;
    padding-left: 10px;
    width: 380px;
    position: relative;
    left: 820px;
    bottom: 123px;
}
h1{
  background-color: yellow;
  padding: 20px;
}

