{% load static %}



<!DOCTYPE html>
<html lang="en" class="border">
<head>
    <link rel="stylesheet" href="{% static 'simplesite/css/try1.css' %}">


    <meta charset="UTF-8">
    <meta name="keywords" content="важные, ключевые, слова">
    <meta name="description" content="краткое описание">
    <title>Кровля и фасады в Воронеже</title>
</head>
<body class="border">
<header>
    <h3>Кровля и фасады</h3>
    <nav>
      <ul>
        <li><a href="#">Домашняя страница</a></li>
        <li><a href="#">Наша команда</a></li>
        <li><a href="#">Проекты</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    <form>
         <input type="search" name="q" placeholder="Поиск по сайту">
         <input type="submit" value="Искать!">
    </form>
    </nav>
</header>
<main>
    <h1>Строительтсво ещё никогда не было так доступно</h1>

</main>
<section>
    <article>
        <p>Мягкая кровля</p>
    </article>
    <article>
        <p>Жесткая кровля</p>
    </article>
    <article>
        <p>Вентфасады</p>
    </article>
</section>
 <aside>
        <h2>Связанные темы</h2>

        <ul>
          <li><a href="#">Мне нравится стоять рядом с берегом моря</a></li>
          <li><a href="#">Мне нравится стоять рядом с морем</a></li>
          <li><a href="#">Даже на севере Англии</a></li>
          <li><a href="#">Здесь не перестаёт дождь</a></li>
          <li><a href="#">Лаааадно...</a></li>
        </ul>
 </aside>

<footer class="border">
    <p>©Авторские права никому не принадлежат, 2050. Все права защищены.</p>
</footer>
</body>
</html>