{% load static %}



<!DOCTYPE html>
<html lang="en" class="border">
<head>
    <link rel="stylesheet" href="{% static 'simplesite/css/try1.css' %}">


    <meta charset="UTF-8">
    <meta name="keywords" content="важные, ключевые, слова">
    <meta name="description" content="краткое описание">
    <title>Кровля и фасады в Воронеже</title>
</head>
<body class="border">
<header>
    <span class="span-top-title">
      <h3 class="title-top">Кровля и фасады</h3>
    </span>
    <nav>
      <ul class="nav-top-ul">
        <li class="nav-top-li"><a href="#">Домашняя страница</a></li>
        <li class="nav-top-li"><a href="#">Наша команда</a></li>
        <li class="nav-top-li"><a href="#">Проекты</a></li>
        <li class="nav-top-li"><a href="#">Контакты</a></li>
      </ul>
     <form class="search">
         <input type="search" name="q" placeholder="Поиск по сайту">
         <input type="submit" value="Искать!">
     </form>
        <div class="link-whatsup">
            <p><a href="https://wa.me/79204698386">What's Up</a> </p>
        </div>
    </nav>
</header>
<main>
    <div class="div_main">
        <img src="static/simplesite/images/babochki.png" class="image_index">

        <h1>Строительтсво ещё никогда не было так доступно!</h1>
    </div>

</main>
<div class="div1">
<section>
    <article>
        <p>Мягкая кровля</p>
    </article>
    <article>
        <p>Жесткая кровля</p>
    </article>
    <article>
        <p>Вентфасады</p>
    </article>
</section>
 <aside>
        <h2>Связанные темы</h2>

        <ul>
          <li><a href="#">Мне нравится стоять рядом с берегом моря</a></li>
          <li><a href="#">Мне нравится стоять рядом с морем</a></li>
          <li><a href="#">Даже на севере Англии</a></li>
          <li><a href="#">Здесь не перестаёт дождь</a></li>
          <li><a href="#">Лаааадно...</a></li>
        </ul>
 </aside>
</div>
<footer class="border">
    <p>©Авторские права никому не принадлежат, 2050. Все права защищены.</p>
</footer>
</body>
</html>