{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'simplesite/css/style.css' %}">

    <meta name="keywords" content="важные, ключевые, слова">
    <meta name="description" content="краткое описание">
    <meta charset="UTF-8">
    <title>Кровля и вентфасады в Вронеже</title>
</head>
<body class="desktop">
  <header>
    <span class="span-top-title">
      <h3 class="title-top">Кровля и фасады</h3>
    </span>
    <nav>
      <ul class="nav-top-ul">
        <li class="nav-top-li"><a href="#">Домашняя страница</a></li>
        <li class="nav-top-li"><a href="#">Наша команда</a></li>
        <li class="nav-top-li"><a href="#">Проекты</a></li>
        <li class="nav-top-li"><a href="#">Контакты</a></li>
      </ul>
     <form class="search">
         <input type="search" name="q" placeholder="Поиск по сайту">
         <input type="submit" value="Искать!">
     </form>
        <div class="link-whatsup">
            <p><a href="https://wa.me/79204698386">What's Up</a> </p>
        </div>
    </nav>
</header>
<main class="hero">
    <div class="rows">
        <img src="simplesite/images/krysha.png" class="image">
        <h1 class="text_main">Строительтсво ещё никогда не было так доступно!</h1>
    </div>
</main>
</body>
</html>